/.metadata/
java8-programmming-practice/.DS_Store
java8-programmming-practice/gcr-code-base/.DS_Store
java8-programmming-practice/gcr-code-base/.gitignore
java8-programmming-practice/gcr-code-base/Java8Features/.DS_Store
java8-programmming-practice/gcr-code-base/Java8Features/.classpath
java8-programmming-practice/gcr-code-base/Java8Features/.gitignore
java8-programmming-practice/gcr-code-base/Java8Features/.project
java8-programmming-practice/gcr-code-base/Java8Features/.settings/
java8-programmming-practice/gcr-code-base/Java8Features/src/module-info.java